@import '_colors.scss';

.botui-app-container {
  position: fixed;
  bottom: 2.5em;
  right: 2.5em;
  height: 40em;
  box-shadow: 1px 2px 6px 5px rgba(0, 0, 0, 0.2);
  transition: all 1s ease-in-out;

  &.minimized {
    transform: translateY(38em);

    .material-icons {
      transform: rotate(180deg);
    }
  }
}

@media only screen and (max-width: 600px) {
  .botui-app-container {
    height: 100%;
    width: 100%;
    bottom: unset;
    right: unset;
  }
}

.botui-container {
  height: calc(100% - 90px);
  width: 100%;
  display: block;
  overflow-y: scroll;
}

.botui-actions-buttons,
.botui-actions-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.botui-actions-buttons-button {
  border: 1px solid $hlb_blue;
  color: $hlb_blue;
  cursor: pointer;
  font-weight: 600;
  border-radius: 10px;
  background-color: $white;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
  transition: ease-in-out 0.2s;

  &:hover {
    color: $white;
    background-color: $hlb_blue;
  }
}

.botui-actions-container {
  margin-bottom: 35px;
}

/* ratings */
.botui-actions-ratings button {
  border-radius: 0;
}
.botui-actions-ratings:before {
  display: flex;
  align-items: center;
  color: $hlb_blue;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  margin-right: 10px;
  content: 'Oneens';
}
.botui-actions-ratings:after {
  display: flex;
  align-items: center;
  color: $hlb_blue;
  font-family: 'Muli', sans-serif;
  font-size: 12px;
  line-height: 1.4;
  margin-left: 10px;
  content: 'Eens';
}

.botui-actions-ratings button:first-child {
  border-radius: 10px 0px 0px 10px;
}

.botui-actions-ratings button:last-child {
  border-radius: 0px 10px 10px 0px;
}

.botui-actions-ratings button:not(:last-child) {
  margin-right: 0px;
}

/* textinputs */
.botui-actions-text-input {
  color: rgba(112, 112, 112, 0.7);
  border-bottom: 1px solid $hlb_blue;
}

/* messages */
.botui-message-content {
  border-radius: 10px 10px 10px 5px;
  color: $hlb_blue;
  background-color: $light_grey;
}
.botui-message-content.human {
  border-radius: 10px 10px 5px 10px;
  color: $white;
  background-color: $hlb_blue;
}

/* timestamp */
.botui-message {
  display: flex;
  flex-direction: column-reverse;
}
.timestamp {
  margin: 0px 5px 5px 5px;
  font-size: 9px;
  color: $hlb_blue;
}
.timestamp.human {
  text-align: end;
}
